<% @books.each do |book| %>
  <div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
    <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
    <p>本のタイトル：<%= book.title %></p>
    <p>Opinion：<%= book.body %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>